RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://kaitorikan.jp/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^(www\.exapmle\.com)(:80)?
RewriteRule ^(.*) https://kaitorikan.jp/$1 [R=301,L]